# https://github.com/github/gitignore/blob/master/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
.python-version

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Unit test / coverage reports
.tox/
.coverage
.pytest_cache/

# Environments
.venv

# Repo-Specific

outputs

# Haystack
docHaystack
lib-ph
lib-phIct
lib-phIoT
lib-phScience
proto

# Other
hasty/generate/migrations
hasty/templater/migrations/*

# Enable some templater migrations
!hasty/templater/migrations/__init__.py
!hasty/templater/migrations/0001_initial.py
!hasty/templater/migrations/0002_auto_20200825_0228.py

#Python
.eggs/*
*.egg-info
