.pyc
__pycache__
.idea
.DS_Store
.python-version
tmp
db.sqlite3
staticfiles

# Testing
.pytest_cache
outputs
.tox
.coverage
.eggs
haste.egg-info

# Haystack
docHaystack
lib-ph
lib-phIct
lib-phIoT
lib-phScience
proto

# Other
haste/generate/migrations
haste/templater/migrations/*

# Enable some templater migrations
!haste/templater/migrations/__init__.py
!haste/templater/migrations/0001_initial.py
!haste/templater/migrations/0002_auto_20200813_0213.py
