.pyc
__pycache__
.idea
.DS_Store
.python-version
tmp
db.sqlite3
staticfiles
test.db

# Testing
.pytest_cache
outputs
.tox
.coverage
.eggs
hasty.egg-info

# Haystack
docHaystack
lib-ph
lib-phIct
lib-phIoT
lib-phScience
proto

# Other
hasty/generate/migrations/*
hasty/templater/migrations/*

# Enable some templater migrations
!hasty/templater/migrations/__init__.py
!hasty/templater/migrations/0001_initial.py
!hasty/templater/migrations/0002_auto_20200825_0228.py

!hasty/generate/migrations/__init__.py
!hasty/generate/migrations/0001_initial.py
