<div class="container">
  <div class="card">
    <h3 class="card-header text-primary">{{ site.name }}</h3>
    <div class="card-body">
      <h5 class="card-subtitle">{{ site.city }}, {{ site.state }}  {{ site.zip }}</h5>
    </div>
    <div class="card-body">
      <a href="{% url 'api.haystack.download' site.id %}" class="btn btn-primary">
        <i class="fa fa-download"></i>
      </a>
      <a href="{% url 'data_view' site.id %}" class="btn btn-primary">
        <i class="fa fa-eye"></i>
      </a>
    </div>
    {% block air_handler_header %}
    {% endblock air_handler_header %}
  </div>
</div>
