{% load static %}
{% load templater_extras %}
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">Template Name</th>
            <th scope="col">Info</th>
            <th scope="col">Description</th>
            <th scope="col">Equipment Type</th>
            <th scope="col">Points</th>
            <th scope="col">Applicable Faults</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for template in haystack_equipment_templates %}
            <tr>
                <td style="max-width: 100px">{{ template.name }}</td>
                <td>Haystack ({{ template.version }})</td>
                <td style="max-width: 350px">{{ template.description }}</td>
                <td>{{ template.equipment_type }}</td>
                <td style="min-width: 200px">
                    {% for point in template.points.all %}
                        {% if point != None %}
                            <p>{{ point.haystack_tagset }}</p>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% with fault_templates=template|reverse_get_item:map %}
                        {% for fault in fault_templates %}
                            <p>{{ fault.name }}</p>
                        {% endfor %}
                    {% endwith %}
                </td>
                <td>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" id="id" name="id" value={{ template.id }}>
                        <button type="submit" class="btn btn-outline-danger" name="delete_haystack_equipment">Remove
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        {% for template in brick_equipment_templates %}
            <tr>
                <td>{{ template.name }}</td>
                <td>Brick ({{ template.version }})</td>
                <td style="max-width: 350px">{{ template.description }}</td>
                <td>{{ template.equipment_type }}</td>
                <td>
                    {% for point in template.points.all %}
                        {% if point != None %}
                            <p>{{ point.brick_class }}</p>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% with fault_templates=template|reverse_get_item:map %}
                        {% for fault in fault_templates %}
                            <p>{{ fault.name }}</p>
                        {% endfor %}
                    {% endwith %}
                </td>
                <td>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" id="id" name="id" value={{ template.id }}>
                        <button type="submit" class="btn btn-outline-danger" name="delete_brick_equipment">Remove
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
