{% load bootstrap4 %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'generate/css/popup.css' %}"></link>
<script src="{% static 'generate/js/sidebar.js' %}"></script>
<div class="container">
    <br>
    <h5>Create Air Handler</h5>
    <form method="post">
        <div class="container border rounded">
            {% csrf_token %}
            <div class="form-group">
                <div class="col-md-14" style="padding-top: 1em; padding-bottom: 1em">
                    {{ air_handler_form.name|as_crispy_field }}
                </div>
                <div class="form-row">
                    <div class=" form-group col-md-3">
                        {{ air_handler_form.heating_coil_type|as_crispy_field }}
                    </div>
                    <div class=" form-group col-md-3">
                        {{ air_handler_form.cooling_coil_type|as_crispy_field }}
                    </div>
                    <div class=" form-group col-md-3">
                        {{ air_handler_form.pre_heat_coil|as_crispy_field }}
                    </div>
                    <div class=" form-group col-md-3">
                        {{ air_handler_form.supp_heat_coil|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class=" form-group col-md-4">
                        {{ air_handler_form.discharge_fan_type|as_crispy_field }}
                    </div>
                    <div class=" form-group col-md-4">
                        {{ air_handler_form.return_fan_type|as_crispy_field }}
                    </div>
                    <div class=" form-group col-md-4">
                        {{ air_handler_form.exhaust_fan_type|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class=" form-group col-md-8">
                        {{ air_handler_form.terminal_unit_default_type|as_crispy_field }}
                    </div>
                    <div class=" form-group col-md-4">
                        {{ air_handler_form.num_terminal_units|as_crispy_field }}
                    </div>
                </div>
            </div>
        </div>
<!--        <div id="mySidebar" class="sidebar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">-->
<!--            <a href="#"><span><i class="material-icons">info</i><span-->
<!--                    class="icon-text">&nbsp;&nbsp;&nbsp;&nbsp;about</span></a><br>-->
<!--            <a href="#"><i class="material-icons">spa</i><span class="icon-text"></span>&nbsp;&nbsp;&nbsp;&nbsp;services</a></span>-->
<!--            </a><br>-->
<!--            <a href="#"><i class="material-icons">monetization_on</i><span class="icon-text"></span>&nbsp;&nbsp;&nbsp;&nbsp;clients</span>-->
<!--            </a><br>-->
<!--            <a href="#"><i class="material-icons">email</i><span class="icon-text"></span>&nbsp;&nbsp;&nbsp;&nbsp;contact<span></a>-->
<!--        </div>-->

    {% buttons %}
      <br>
    <button class="btn btn-outline-success" name="create_air_handler" type="submit">Create Air Handler</button>
    {% endbuttons %}
    </form>
    </div>
</div>
{% endblock %}
