{% extends "partials/base.html" %}
{% load bootstrap4 %}
{% block page_content %}
{% include 'partials/header.html' %}
{% include 'partials/nav.html' %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Site</li>
        </ol>
    </nav>
</div>

<div class="container">
    {% if errors %}
    <p>errors</p>
    {% endif %}
    <h1>Create New Site</h1>
    <form method="post" action="">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-outline-success">Create Site</button>
        {% endbuttons %}
    </form>
</div>
{% include 'partials/footer.html' %}
{% endblock page_content %}
