{% load static %}
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th scope="col">Air Handler Name</th>
      <th scope="col">Coil Configurations</th>
      <th scope="col">Fan Configurations</th>
      <th scope="col">Number of Terminal Units</th>
    </tr>
    </thead>
    <tbody>
    {% for ahu in ahus %}
      <tr>
        <td><a href="{% url 'site.ahu' site.id ahu.id %}">{{ ahu.name }} </a> </td>
        <td>
            {% for coil in ahu.coil_configurations %}
              {% if coil != None %}
                <p>{{ coil }}</p>
              {% endif %}
            {% endfor %}
        </td>
      <td>
        {% for fan in ahu.fan_configurations %}
          {% if fan != None %}
            <p>{{ fan }}</p>
          {% endif %}
        {% endfor %}
      </td>
      <td>{{ ahu.num_terminal_units }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
