{% extends "base.html" %}
{% load static %}
{% block page_content %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Haste</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
            <h1>Haste</h1>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Download</li>
        </ol>
    </nav>
</div>
<div class="container" style="padding-top: 3em">
    <form>
        <h3>Choose and existing system:</h3>
        <hr class="mt-2 mb-3"/>
        <div class="form-row">
            <div class="form-group col-md-12">
                <select class="form-control" id="sys">
                    <option>SZ VAV AHU hydronic heating and cooling with return fan</option>
                    <option>MZ VAV AHU hydronic heating and cooling with return fan and hot-water reheat</option>
                    <option>SZ CV AHU with heatpump heating and cooling</option>
                </select>
            </div>
        </div>
        <hr class="mt-2 mb-3"/>
        <div class="form-group col-md-2">
            <input class="form-check-input" type="checkbox" id="haystack">
            <label class="form-check-label" for="haystack">
                Haystack
            </label>
        </div>
        <div class="form-group col-md-2" style="padding-bottom: 1em">
            <input class="form-check-input" type="checkbox" id="brick">
            <label class="form-check-label" for="brick">
                Brick
            </label>
        </div>

        <button type="submit" class="btn btn-primary">Download</button>
    </form>
</div>
<footer class="footer">
    <div class="container">
        <span class="text-muted"></span>© 2020 Copyright:
        <a href="https://nrel.gov/"> nrel.gov</a>
    </div>
</footer>
</body>
</html>
{% endblock %}
