{% load static %}
<div class="row">
    <div class=' table-responsive col-md-7'>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th scope="col">Fault ID</th>
                <th scope="col">AHU Mode</th>
                <th scope="col">Category</th>
                <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div class=' table-responsive col-md-4'>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th scope="col">Point Type</th>
                <th scope="col">Name of Point</th>
                <th scope="col">Add Point</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
