{% extends "base.html" %}
{% load static %}
{% block page_content %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Haste</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
            <h1>Haste</h1>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'generate.index' %}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create</li>
        </ol>
    </nav>
</div>
<div class="container" style="padding-top: 3em">
    <form>
        <h3>Create Air Handling Unit</h3>
        <hr class="mt-2 mb-3"/>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Cory's Single Zone Slayer">
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="e_fan">Exhaust fan</label>
                <select class="form-control" id="e_fan">
                    <option>on/off</option>
                    <option>variable</option>
                    <option>multi-speed</option>
                    <option>none</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="r_fan">Return fan</label>
                <select class="form-control" id="r_fan">
                    <option>on/off</option>
                    <option>variable</option>
                    <option>multi-speed</option>
                    <option>none</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="d_fan">Discharge fan</label>
                <select class="form-control" id="d_fan">
                    <option>on/off</option>
                    <option>variable</option>
                    <option>multi-speed</option>
                    <option>none</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="cooling">Cooling</label>
                <select class="form-control" id="cooling">
                    <option>cooling coil</option>
                    <option>1-stage DX cooling coil</option>
                    <option>2-stage DX cooling coil</option>
                    <option>N-stage DX cooling coil</option>
                    <option>chilled water coil</option>
                    <option>variable speed DX cooling coil</option>
                    <opiion>none</opiion>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="heating">Heating</label>
                <select class="form-control" id="heating">
                    <option>heating coil</option>
                    <option>1-stage DX heating coil</option>
                    <option>2-stage DX heating coil</option>
                    <option>N-stage DX heating coil</option>
                    <option>1-stage electric heating coil</option>
                    <option>2-stage electric heating coil</option>
                    <option>N-stage electric heating coil</option>
                    <option>1-stage natural gas heating coil</option>
                    <option>2-stage natural gas heating coil</option>
                    <option>N-stage natural gas heating coil</option>
                    <option>Hot water coil</option>
                    <option>steam coil</option>
                    <option>modulating electric heating coil</option>
                    <option>modulating natural gas heating coil</option>
                    <opiion>none</opiion>
                </select>
            </div>
            <div class="form-group col-md-1" >
                 <label class="invisible" for="or">...</label>
                 <input style="text-align: center" type="text" readonly class="form-control-plaintext" id="or" value=" Or ">
            </div>
            <div class="form-group col-md-3">
                <label for="heating_cooling">Heating cooling coil</label>
                <select class="form-control" id="heating_cooling">
                    <option>heating cooling coil</option>
                    <option>1-stage heat pump coil</option>
                    <option>2-stage heat pump coil</option>
                    <option>N-stage heat pump coil</option>
                    <option>variable speed heat pump coil</option>
                    <opiion>none</opiion>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="sup_heating">Supplemental Heating</label>
                <select class="form-control" id="sup_heating">
                    <option>heating coil</option>
                    <option>1-stage DX heating coil</option>
                    <option>2-stage DX heating coil</option>
                    <option>N-stage DX heating coil</option>
                    <option>1-stage electric heating coil</option>
                    <option>2-stage electric heating coil</option>
                    <option>N-stage electric heating coil</option>
                    <option>1-stage natural gas heating coil</option>
                    <option>2-stage natural gas heating coil</option>
                    <option>N-stage natural gas heating coil</option>
                    <option>Hot water coil</option>
                    <option>steam coil</option>
                    <option>modulating electric heating coil</option>
                    <option>modulating natural gas heating coil</option>
                    <opiion>none</opiion>
                </select>
            </div>
        </div>
        <h3 style="padding-top: 2em">Create Terminal Unit</h3>
        <hr class="mt-2 mb-3"/>
        <div class="form-group">
            <label for="t_name">Name</label>
            <input type="text" class="form-control" id="t_name" placeholder="Cory's Terminal">
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="t_system">Add a Terminal System</label>
                <select class="form-control" id="t_system">
                    <option>Constant Volume No re-heat</option>
                    <option>VAV with re-heat</option>
                    <option>...</option>
                    <option>...</option>
                </select>
            </div>
        </div>
        <h3 style="padding-top: 2em">Create Zone Equipment</h3>
        <hr class="mt-2 mb-3"/>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="zone_equip">Add Zone Equip</label>
                <select class="form-control" id="zone_equip">
                    <option>...</option>
                    <option>...</option>
                    <option>...</option>
                    <option>...</option>
                </select>
            </div>
        </div>
        <h4 style="padding-top: 2em">Export:</h4>
        <hr class="mt-2 mb-3"/>
        <div class="form-group col-md-2">
            <input class="form-check-input" type="checkbox" id="haystack">
            <label class="form-check-label" for="haystack">
                Haystack
            </label>
        </div>
        <div class="form-group col-md-2" style="padding-bottom: 1em">
            <input class="form-check-input" type="checkbox" id="brick">
            <label class="form-check-label" for="brick">
                Brick
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Download</button>
    </form>
</div>
<footer class="footer">
    <div class="container">
        <span class="text-muted"></span>© 2020 Copyright:
        <a href="https://nrel.gov/"> nrel.gov</a>
    </div>
</footer>
</body>
</html>
{% endblock %}
