{% load static %}
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">Site Name</th>
            <th scope="col">Number of AHUs</th>
            <th scope="col">Get Data</th>
            <th scope="col">Delete Site</th>
        </tr>
        </thead>
        <tbody>
        {% for site in object_list %}
        <tr>
            <td><a href="{% url 'site-detail' site.id %}">{{ site.name }} </a></td>
            <td>{{ site.air_handlers.count }}</td>
            <td class="text">
                {% include 'partials/data_view_download_form.html' %}
            </td>
            <td>
                <a href="{% url 'delete-site' site.id %}" class="btn btn-outline-danger">Remove</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
