{% extends "partials/base.html" %}
{% load static %}
{% block page_content %}
{% include 'partials/header.html' %}
{% include 'partials/nav.html' %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Site</li>
        </ol>
    </nav>
</div>
{% include 'partials/site_header.html' %}
  <br>
<div class="container">
  <div class="card mb-3">
    <div class="card-body p-0">
      <div class="card-title">
        <button class="btn btn-block btn-lg btn-primary" type="button" data-toggle="collapse"
                data-target="#showAirSystems"
                aria-expanded="true" aria-controls="showAirSystems">
          Air Systems
        </button>
      </div>
      <div class="container collapse show" id="showAirSystems">
        {% include 'all_air_handlers.html' %}

      <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#addAHU"
                aria-expanded="true" aria-controls="addAHU">+ Add Air Handler</button>
        <div class="container collapse" id="addAHU">
          {% include "add_air_handler.html" %}
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="card mb-3">
    <div class="card-body p-0">
      <div class="card-title">
        <button class="btn btn-block btn-lg btn-primary" type="button" data-toggle="collapse"
                data-target="#showHotWaterSystems"
                aria-expanded="false" aria-controls="showHotWaterSystems">
          Hot Water Systems
        </button>
      </div>
      <div class="container collapse show" id="showHotWaterSystems">
        {% include 'all_hot_water_systems.html' %}
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="card mb-3">
    <div class="card-body p-0">
      <div class="card-title">
        <button class="btn btn-block btn-lg btn-primary" type="button" data-toggle="collapse"
                data-target="#showChilledWaterSystems"
                aria-expanded="false" aria-controls="showChilledWaterSystems">
          Chilled Water Systems
        </button>
      </div>
      <div class="container collapse show" id="showChilledWaterSystems">
        {% include 'all_chilled_water_systems.html' %}
      </div>
    </div>
  </div>
</div>
{% include 'partials/footer.html' %}
{% endblock %}
