{% extends "partials/base.html" %}
{% block page_content %}
{% include 'partials/header.html' %}
{% include 'partials/nav.html' %}
{% load static %}
<div class="container" style="padding-top: 3em">
<form method="post" enctype="multipart/form-data">
    <div class=" container row">
        <div class="col-sm-3">
            {% csrf_token %}
            <input type="file" name="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Create Site from File</label>
        </div>
        <div class="'col-sm-2" style="padding-left: 1em">
            <button id="upload" type="submit" name="upload" class="btn btn-outline-dark" disabled>Upload</button>
        </div>
    </div>
</form>
</div>

<script type="text/javascript" src="{% static 'generate/js/fileupload.js' %}"></script>
{% include 'partials/footer.html' %}
{% endblock %}
