{% extends "partials/base.html" %}
{% load static %}
{% block page_content %}
{% include 'partials/header.html' %}
{% include 'partials/nav.html' %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Creator</a></li>
            <li class="breadcrumb-item"><a href="{% url 'site-detail' site.id %}">Site</a></li>
            <li class="breadcrumb-item active" aria-current="page">AHU</li>
        </ol>
    </nav>
</div>
<br>
{% include 'partials/site_header.html' %}
<div class="container" style="padding-top: 1em">
    <div class="card border-top">
        <h5 class="card-header text-primary">{{ ahu.name }}</h5>
        <div class="row" style="padding-top: 1em">
            <div class="col-sm-12">
                {% include 'partials/air_handler_header.html' %}
            </div>
            <div class="col-sm-12">
                <div class="card mb-3 boarder-right-0">
                    <div class="card-body p-0 boarder-right-0">
                        <div class="card-title">
                            <button class="btn btn-block btn-lg btn-primary" type="button" data-toggle="collapse"
                                    data-target="#showFaultInfo"
                                    aria-expanded="true" aria-controls="showFaultInfo">
                                Fault Information
                            </button>
                        </div>
                        <div class="container collapse show" id="showFaultInfo">
                            {% include 'faults.html' %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="card mb-3 boarder-right-0">
                    <div class="card-body p-0 boarder-right-0">
                        <div class="card-title">
                            <button class="btn btn-block btn-lg btn-primary" type="button" data-toggle="collapse"
                                    data-target="#showTerminalUnits"
                                    aria-expanded="true" aria-controls="showTerminalUnits">
                                Terminal Units
                            </button>
                        </div>
                        <div class="container collapse show" id="showTerminalUnits">
                            {% include 'all_terminal_units.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'partials/footer.html' %}
{% endblock %}
