{% load static %}
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">Site Name</th>
            <th scope="col">Number of AHUs</th>
            <th scope="col">Get Data</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for site in sites %}
        <tr>
            <td><a href="{% url 'site-detail' site.id %}">{{ site.name }} </a></td>
            <td>{{ site.air_handlers.count }}</td>
            <td class="text">
                {% include 'partials/data_view_download_form.html' %}
            </td>
            <td>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" id="id" name="id" value={{ site.id }}>
                    <button type="submit" class="btn btn-outline-danger" name="delete">Remove</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
