{% extends "partials/base.html" %}
{% block page_content %}
{% include 'partials/header.html' %}
{% include 'partials/nav.html' %}
{% load static %}
<div class="container" style="padding-top: 1em">
  <div class="card border-top">
    <h5 class="card-header text-primary">Points Table</h5>
      <div class="row" style="padding-top: 1em">
            <div class="col-sm-12">
                <div class="card mb-3 boarder-right-0">
                    <div class="card-body p-0 boarder-right-0">
                        {% include 'points.html' %}
                    </div>
                </div>
            </div>
      </div>
  </div>
  </div>
</div>
{% endblock page_content %}
