{% load static %}
{% load mapp_extras %}

<div class="table">
    <button id="haystack" class="btn btn-warning" onclick="toggle_hay()" type="button">Haystack</button>
    <button id="brick" class="btn btn-outline-info" onclick="toggle_brick()"type="button">Brick</button>
    <div class="row">
        <div id="hay_table" class="col" >
            <h5 style="padding-top: 1em; padding-bottom: 1em">Haystack Version {{ hpt_filter.form.version }}</h5>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col">Haystack Point Types {{ hpt_filter.form.haystack_tagset }}
                    </th>
                    <th scope="col">Tags</th>
                </tr>
                </thead>
                <tbody>
                {% for pt in hpt %}
                    <tr>
                    <td><a href="https://project-haystack.dev/doc/proto/{{ pt.haystack_tagset }}">
                        {{ pt.haystack_tagset }}</a>
                    </td>
                    <td>
                        {% for t in pt.marker_tags.all %}
                            {{ t.tag }},
                        {% endfor %}
                    </td>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="brick_table" style="display: none" class="col">
            <h5 style="padding-top: 1em; padding-bottom: 1em">Brick Version {{ bpt_filter.form.version }}</h5>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col" style="word-break: break-all">Brick Point Types {{ bpt_filter.form.brick_class }}</th>
                    <th scope="col" style="word-break: break-all">Tags</th>
                </tr>
                </thead>
                <tbody>
                {% for pt in bpt %}
                    <tr>
                        <td style="word-break: break-all"><a href="https://brickschema.org/schema/1.1/Brick#{{ pt.brick_class }}"> {{ pt.brick_class }}</a></td>
                        <td style="word-break: break-all">
                            {% for t in pt.tags.all %}
                                <a>{{ t.tag }}</a>,
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'generate/js/toggle.js' %}"></script>
