{% load static %}
{% load mapp_extras %}

<div class="table">
    <div class="row">
        <div class="col">
                <div class="row" style="padding-top: 1em; padding-bottom: 1em">
                <h5 class="'col">Haystack Version {{ map_filter.form.haystack_version }}</h5>
                <h5 class="col">Brick Version {{ map_filter.form.brick_version }}</h5>
                <h5 hidden class="col">Inference Version {{ map_filter.form.inference_version }}</h5>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col">Haystack Point Type {{hpt_filter.haystack_version}}</th>
                    {% for version in map_filter.form.inference_version|slice:"1:" %}
                    <th scope="col">Brick Point Class Inference{{version}}</th>
                 {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for pt in ptm %}
                <tr>
                    <td style="word-break: break-all"><a href="https://project-haystack.dev/doc/proto/{{ pt.haystack_point.haystack_tagset }}">{{pt.haystack_point }}</a></td>
                    <td style="word-break: break-all"><a href="https://brickschema.org/schema/1.1/Brick#{{ pt.brick_point.brick_class }}">{{pt.brick_point.brick_class }}</a></td>
                     {% with ptm1|list_item:forloop.counter0 as point %}
                    <td style="word-break: break-all"><a href="https://brickschema.org/schema/1.1/Brick#{{ ptm1.pt.brick_point.brick_class }}">{{ point.brick_point.brick_class }}</a></td>
                    {% endwith %}
                </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
