{% load static %}
{% load mapp_extras %}

<div class="table container">
    <div class="row">
        <div class="container col-sm-5">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col">Haystack Point Types {{ hpt_filter.form.haystack_tagset }}
                    </th>
                    <th scope="col">Tags</th>
                </tr>
                </thead>
                <tbody>
                {% for pt in hpt %}
                    <tr>
                    <td><a href="https://project-haystack.dev/doc/proto/{{ pt.haystack_tagset }}">
                        {{ pt.haystack_tagset }}</a>
                    </td>
                    <td>
                        {% for t in pt.marker_tags.all %}
                            {{ t.tag }},
                        {% endfor %}
                    </td>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="container col-sm-5">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col">Brick Point Types {{ bpt_filter.form.brick_class }}
                    </th>
                    <th scope="col">Tags</th>
                </tr>
                </thead>
                <tbody>
                {% for pt in bpt %}
                    <tr>
                        <td><a href="https://brickschema.org/schema/1.1/Brick#{{ pt.brick_class }}"> {{ pt.brick_class }}</a>
                        </td>
                        <td>
                            {% for t in pt.tags.all %}
                                <a>{{ t.tag }}</a>,
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
