{% extends "base.html" %}
{% load static %}
{% block page_content %}
{% include 'header.html' %}
{% include 'nav.html' %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'site' site.id %}">Site</a></li>
          <li class="breadcrumb-item active" aria-current="page">AHU</li>
        </ol>
    </nav>
</div>
<div class="container">
  <h3 class="text-primary">{{ site.name }}</h3>
</div>
<div class="container">
  {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>
                  <p>Field: {{ field.name }}</p>
                  <p>{{ error|escape }}</p>
                </strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
</div>
{% include 'footer.html' %}
{% endblock %}
