{% load static %}
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th scope="col">Air Handler Name</th>
      <th scope="col">Heating Type</th>
      <th scope="col">Cooling Type</th>
      <th scope="col">Number of Terminal Units</th>
    </tr>
    </thead>
    <tbody>
    {% for ahu in ahus %}
      <tr>
        <td><a href="{% url 'site.ahu' site.id ahu.id %}">{{ ahu.name }} </a> </td>
        <td>{{ ahu.hc_name }}</td>
        <td>{{ ahu.cc_name }}</td>
        <td>{{ ahu.num_terminal_units }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
