{% extends "base.html" %}
{% block page_content %}
{% include 'header.html' %}
{% include 'nav.html' %}
<div class="container" style="padding-top: 3em">
    <div class="jumbotron" style="padding-top: 3em">
        <h3 class="text-muted">Welcome to Haste</h3>
        <p>Haste provides a simple interface to create meaningful Haystack json files to represent the systems in your
            building.</p>
    </div>
    <div class="header clearfix" style="padding-top: 1em; padding-bottom: 5em">
        <button type="button" class="btn btn-primary btn-lg">
            <a href="{% url 'add_site' %}" style="color: white; text-decoration: none">+ Create Site</a>
        </button>
        <button type="button" class="btn btn-primary btn-lg">
            <a href="{% url 'add_site' %}" style="color: white; text-decoration: none">+ Choose from template</a>
        </button>
    </div>
    <div class="card mb-3">
        <div class="card-body p-0">
            <div class="card-title">
                <button class="btn btn-block btn-lg btn-primary" type="button" data-toggle="collapse"
                        data-target="#showSimulations"
                        aria-expanded="true" aria-controls="showSimulations">
                    Previously Created Sites
                </button>
            </div>
            <div class="container collapse show" id="showSimulations">
                {% include 'all_sites.html' %}
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}
